:root {
    --main-bg: #282C34;
    --main-fg: #F1F3F4;

    --result-link-fg: #61AFEF;
    --result-fg: #ABB2BF;

    --button-bg: #17191E;

    --special-result-border: opacity: 0;
    --special-text-background: #31363F;
    --special-text-color: #F1F3F4;

    --search-container-text-color: #F1F3F4;
    --search-container-background-color: #1C1E24;
    --search-container-background-border: #3C4043;

    --search-form-background-color: #1F2328;

    --border: #31363F;

    --footer-fg: #999DA2;
    --footer-bg: #1F2328;

    color-scheme: dark;
}
